h1 {
    color: #4253f4;
}

h2 {
    color: #cd4985;
}

h3 {
    color: black;
    font-family: Arial, Verdana, sans-serif;
}

.text-underline {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #435b4f;
}

.text-overline {
    text-decoration-line: overline;
    text-decoration-style: solid;
    text-decoration-color: #435b4f;
}

.text-color {
    color: #ff42c0;
}

.paragraph {
    font-family: Arial, Verdana, sans-serif;
    background-color: rgb(252, 245, 237);
    border: 1px double black;
    padding: 5px;
    
}

div {
    border:2px dotted DodgerBlue;
    font-size: relative;
}

div.one {
    text-align: justify;
    height: 200px;
    overflow: scroll;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;      
    margin-top: 1%;
    margin-right: 2%;   
    margin-bottom: 1%;
    margin-left: 2%;
    background-color: azure;
    border: 2px dashed darkblue;
   
}

div.two {
    border:3px solid rgb(132, 6, 170);
    font-family: Verdana;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 1%;    
    width: 25%;
    text-align: center;
    border-radius: 50%;
}
